{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Añade un nuevo producto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/add1.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/icon1.ico"/>
    <script type="text/javascript" src="/static/js/embed.js"></script>
    <script type="text/javascript" src="/static/js/menu.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body background="{% static 'img/rain.png' %}">
    <div class="topnav" id="myTopnav">
        <a href="/index" class="active"><i class="fa fa-home"></i>Inicio</a>
        <a href="/index/consultar_producto"><i class="fa fa-fw fa-eye"></i>Ver Productos</a>
        <a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i>Salir</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="container">
        <div class="container2">
            <form method="POST">
                {% csrf_token %}
                <p>
                <label for="{{ form.Codigo.Código }}">Código:</label>
                {{form.Codigo}}
                </p>
                <p>
                <label for="{{ form.Nombre.Nombre }}">Nombre:</label>
                {{form.Nombre}}
                </p>
                <p>
                    <label for="{{ form.Descripcion.Descripcion }}">Descripción:</label>
                    {{form.Descripcion}}
                </p>
                <p>
                    <label for="{{ form.Precio_de_venta.Precio_de_venta }}">Precio de venta:</label>
                    {{form.Precio_de_venta}}
                </p>
                <p>
                <input type="submit" value="Guardar" onclick="embed()">
                <a id="multi" data-modal-target="#modal" class="multi"><i class="fa fa-fw fa-film"></i></a>
                </p>
        </div>
    </div>
    <div class="modal" id="modal">
      <div class="modal-header">
        <div class="title"><h2>Añadir Multimedia</h2></div>
        <a id="cerrar" data-close-button class="close-button">&times;</a>
      </div>
      <div class="modal-body">
        {% csrf_token %}
            <p>
                <label class="popv" for="{{ form.URL_Video.URL_Video }}">URL Video:</label>
                {{form.URL_Video}}
            </p>
            <p>
                <label class="popi" for="{{ form.URL_Imagen.URL_Imagen }}">URL Imagen:</label>
                {{form.URL_Imagen}}
            </p>
            <input type="submit" value="Guardar" onclick="embed()">
        </form>
        </div>
    </div>
    <div id="overlay"></div>
</body>
<script type="text/javascript" src="/static/js/popup.js"></script>
</html>