{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/delet.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/icon1.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Delete</title>
</head>
<body background="{% static 'img/pieces-of-lego.jpg' %}">
    <div class="topnav" id="myTopnav">
        <a href="/index" class="active"><i class="fa fa-home"></i>Inicio</a>
        <a href="/index/agregar_producto"><i class="fa fa-fw fa-plus-square"></i>Agregar Nuevo</a>
        <a href="{% url 'modi_produc' producto.IDP %}"><i class="fa fa-fw fa-pencil"></i>Modificar Producto</a>
        <a href="/index/consultar_producto"><i class="fa fa-fw fa-eye"></i>Ver Productos</a>
        <a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i>Salir</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="eliminar">
        <div class="header">
            <a>¿Eliminar el registro y todos su datos?</a>
        </div>
        <div class="content">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn-danger" type="submit" value=Aceptar>
                <a class="btn-default" href="{% url 'ver_producto' %}">Cancelar</a>
            </form>
        </div>
    </div>
</body>
<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>
</html>